<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="张乾, 安卓, 技术, 安全, android, security, program, 博客">
    <meta name="description" content="这是张乾的个人博客，会做一些生活和技术上的分享。技术目前主要是安卓手机方面的比如安卓的安全之类的。生活上也会发表一些自己的人生经验或者生活感想之类的。">
    <title>张乾</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/css/Common/style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <header>
      <div class="head_img">
        <a href="#">
          <img src="__PUBLIC__/images/logo.png" id="big_logo" alt="" />
        </a>
      </div>
      <div class="header">
        <div class="container">
          <div class="head">
            <div class="navigation">
               <span class="menu"></span>
                <ul class="navig">
                  <li><a href="{:U('Index/index')}" class="active" id="home">首页</a></li>
                  <li><a href="{:U('About/index')}" id="about">关于</a></li>
                  <li><a href="{:U('TechArticle/index')}" id="tech">技术记录</a></li>
                  <li><a href="{:U('Life/index')}" id="life">生活感想</a></li>
                  <li><a href="{:U('Contact/index')}" id="contact">反馈与联系</a></li>
                  <li><a href="{:U('Download/index')}" id="download">下载app</a></li>
                </ul>
            </div>
          <div class="header-right">
            <div class="search-bar">
              <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
              <input type="submit" value="">
            </div>
            <ul>
              <li><a href="#"><span class="fb"> </span></a></li>
              <li><a href="#"><span class="twit"> </span></a></li>
              <li><a href="#"><span class="pin"> </span></a></li>
              <li><a href="#"><span class="rss"> </span></a></li>
              <li><a href="#"><spana class="drbl"> </span></a></li>
            </ul>
          </div>
          <script>
            $("span.menu").click(function(){
              $(" ul.navig").slideToggle("slow" , function(){
              });
            });
          </script>
          <div class="clearfix"></div>
          </div>
         </div>
        </div>
    </header>
