<include file="Common:head" />
  <link rel="stylesheet" href="__PUBLIC__/css/Article/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="content_left col-md-8">
      <div class="art_title">
        <h2>{$article1.article_title}</h2>
      </div>
      <div class="art_info">
        {$article1.article_info}
      </div>
      <div class="art_content">
        {$article1.article_content}
      </div>
    </div>
    <div class="content_right col-md-4">
      <div class="right_first">
        This is the first addon.
      </div>
    </div>
    <include file="Common:foot" />
  </body>
